
$cubBlue: #248;

@import 'bootstrap';

@import "fontawesome";
@import "solid";
@import "light";
@import "regular";
@import "brands";

body {
    background: $cubBlue;
}


.bg-derby {
    background: darken($cubBlue, 15%);
}

#avatarVid {
    width:  240px;
    height: 240px;
    border-radius: 120px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    video {
        width: 320px;
        max-width: 320px;
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
    }
}



#avatarImg {
    display: none;
    border-radius: 120px;
}
