
$cubBlue: #369;

@import 'bootstrap';

@import "fontawesome";
@import "solid";
@import "light";
@import "regular";
@import "brands";

body {
    background: $cubBlue;
}

.bg-derby {
    background: darken($cubBlue, 15%);
}

.modal-content {
    background: transparent;
}

.modal-header,.modal-footer {
    background: lighten($cubBlue, 25%);
}

.modal-body {
    background: #e9ecef;
}

#avatarVid {
    position: relative;

    width:  240px;
    height: 240px;
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

    display: inline-block;
    left:50%;
    margin-left:-120px;
    margin-bottom: 10px;

    video {
        max-height: 240px;
                transform: rotateY(180deg);
           -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
}

#avatarImg {
    position: relative;

    display: none;
    border-radius: 50%;

    left:50%;
    margin-left:-120px;
    margin-bottom: 10px;
}

img.avatar {
    border-radius: 50%;
}

div.racerRow {
    padding: 0.5em 0em;
    .imgframe {
        margin-right: 2em;

        img {
            //border: 3px solid $cubBlue; //lighten($cubBlue, 15%);
            box-shadow: 3px 3px 6px #333;
        }
    }
}

div.racerRow:not(:first-child) {
    border-top: 1px solid lighten($cubBlue, 25%);
}
