<!doctype html>
<html lang="en">
  <head>
    <title>Pinewood Derby</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pinewood Derby">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/derby.css') }}" />
  </head>
  <body>
  <nav id="devices-nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-derby">
    <a class="navbar-brand" href="/"><img src="/static/images/logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#device-navbar-collapse" aria-controls="device-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="device-navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#racers-modal">
            <i class="fal fa-users"></i> Racers <span id="racers-count" class="badge badge-dark">0</span>
          </a>
        </li>
        -->
{% block links-left %}
{% end %}
      </ul>
      <ul class="navbar-nav ml-auto">
{% block links-right %}
{% end %}
        <li class="nav-item"><a class="nav-link" href="/settings" ><i class="fad fa-fw fa-lg fa-tools"></i> Settings</a></li>
        <span class="navbar-text"><i id="ws-status" class="fa fa-wifi-slash d-none" title="Server Status"></i></span>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body %}{% end %}
  </div>
  </body>
  <script type="text/javascript" src="{{ static_url('js/derby.js') }}"></script>
{% block scripts %}{% end %}
</html>
