{% extends 'base.template' %}

{% block links-left %}
{% end %}

{% block body %}
<div class="card bg-light" id="settings-ports">
  <div class="card-body">
    <a class="float-right" href="#" data-toggle="modal" data-target="#add-event-modal"><i class="fal fa-2x fa-fw fa-plus-circle"></i></a>
    <h1><i class="fad fa-flag-checkered"></i> Events</h1>
    <table id="events-table" class="table table-condensed">
      <thead class="thead-light">
        <tr>
          <th>Event Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <script type="text/html-template" id="t-event-row">
      <td><a href="/events/<%- event_id %>"><%- event %></a></td>
      <td><%- date %></td>
    </script>
  </div>
</div>

<div id="add-event-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-event-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="add-event-form" action="#">
        <div class="modal-header">
          <h3 class="modal-title" id="add-event-label">Add Event</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fal fa-2x fa-times-circle" aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" name="event-name" id="add-event-name" placeholder="Event Name" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="event-date" id="add-event-date" placeholder="Date" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  id="add-event-reset">Reset</button>
          <button type="submit" class="btn btn-primary" id="add-event-save" >Save </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% end %}
