{% extends 'base.template' %}

{% block body %}
  <nav id="devices-nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-derby">
    <span class="navbar-brand" href="#"><i class="fal fa-tire"></i> Derby</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#device-navbar-collapse" aria-controls="device-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="device-navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#racers-modal">
            <i class="fal fa-users"></i> Racers <span id="racers-count" class="badge badge-dark">0</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#heat-modal">
            <i class="fal fa-flag-checkered"></i> Heat
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#add-racer-modal"><i class="fal fa-user-circle"></i> Add Racer </a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#settings-modal" ><i class="fal fa-cog"        ></i> Settings  </a></li>-->
      </ul>
      <span class="navbar-text" id="ws-status">
        <i class="fal fa-cog" title="Server Status"></i>
      </span>
    </div>
  </nav>

  <div id="results-body" class="container">
    <h1><i class="fal fa-crown"></i> Race Results</h1>
    <table id="results-table" class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Den</th>
          <th>1st</th>
          <th>2nd</th>
          <th>3rd</th>
          <th>4th</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script type="text/html-template" id="t-result-row">
      <td><img class="avatar" src="<%- avatar %>" /> <a href="#" class="racer"><%- name %></a></td>
      <td><%- den %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </script>
  </div>

  {% include 'racers.html' %}
  {% include 'heat.html'   %}
  {% include 'config.html' %}
{% end %}
