
<div id="settings-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settings-label" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settings-label"><i class="fad fa-usb-drive"></i> Serial Port</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="settings-ports-table" class="table table-condensed table-borderless">
          <tbody></tbody>
        </table>
        <div class="text-right">
          <button id="ports-refresh" type="button" class="btn btn-dark"   ><i class="fa fa-redo"    ></i> Refresh </button>
          <button id="ports-test"    type="button" class="btn btn-danger" ><i class="fa fa-exchange"></i> Test    </button>
          <button id="ports-save"    type="button" class="btn btn-primary"><i class="fa fa-save"    ></i> Save    </button>
        </div>
        <script type="text/html-template" id="t-port-row">
          <td><input type="radio" name="port" value="<%- port %>" /></td>
          <td width="100%"><%- port %></td>
        </script>
      </div>
    </div>
  </div>
</div>
